body{
    margin: 0;
}

.site-container{
    display: flex;
    flex-direction:column;
    min-height:100vh;
}

.header{
    flex: 0 0 auto;
    text-align: center;
    background: #161925;
}

h3{
    color: rgb(255, 255, 255);
}

.main {
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    text-align: center;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ECFEAA;
}

.options-bar {
    flex: 1 0 auto;
    min-height: 750px;
    background-color: #7C98B3;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
}

.button-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.stroke-options {
    width: 80%;
}

#toggle-grid-lines {
    width: 100%;
}

.slider-box {
    padding-top: 50px;
    outline: 1px black solid;
    width: 80%;
}

#size-slider {
    width: 80%;
}

#size-indicator-text {
    margin-top: 5px;
}

.grid-wrapper {
    flex: 1 0 auto;
    min-height: 750px;
    background: #050609;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    border-radius: 10px;
    background-color: #7C98B3;
}

.grid-container {
    height: 700px;
    width: 700px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: greenyellow;
    outline: 1px rgb(61, 60, 60) solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    user-select: none;
}

.footer {
    flex: 0 0 auto;
    text-align: center;
    background: #161925;
}

.single-cell {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
    user-select: none;
}

.footer-text{
    color: white;
}